
CompileFlags:
  Add: 
    - -I/home/nathaniel/acoustics_ws/src/vortex-acoustics/AcousticsMicrocontrollerCode/teensy41/include/
    - -I/usr/share/arduino/hardware/arduino/avr/cores/arduino/
    - -I/usr/share/arduino/hardware/arduino/avr/libraries/
    - -Wall
    - -Wextra

